@font-face
{
font-family: 'Comica BD';
src: url('Comica BD.ttf');
}
@font-face
{
font-family: 'Dafunk_FREE';
src: url('Dafunk_FREE.otf');
}
@font-face
{
font-family: 'DesignerPixels';
src: url('DesignerPixels.ttf');             
}
*{margin:0;padding:0;}
html, body{
	height: 100%;
}
body{
	overflow:hidden;
	float:left;
	background:#6ca;
	background:-webkit-linear-gradient(tan,#7dc);
	background:-moz-radial-gradient(#999,#ccc);
	background:-o-radial-gradient(tan,#7dc);
	background:-ms-radial-gradient(tan,#7dc);
	font-family: 'DesignerPixels';
	width:100%;
	float:left;
	cursor:url('1.gif'),auto;
}
.main{
	position:relative;
	width:100%;
	float:left;
	cursor:url(6.png),auto;
	height: 100%;
}
.entrance{
	font-family: 'Dafunk_FREE';
	width: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.entrance h1{
	margin-top: 5%;
}
button{
	font-family: 'Dafunk_FREE';
	margin:5%;
	color:brown;
	background:#ac6;
	background:-webkit-linear-gradient(silver,grey);
	background:-moz-linear-gradient(#cc2,#ffe);
	border-radius:60px 1%;
	width:60%;
	font-size: 1.3rem;
	padding:1% 10%;
	box-shadow:5px 5px 10px #a33;
	cursor:pointer;
	letter-spacing:5px;
}
button:hover{
	background:#89a;
	background:-webkit-linear-gradient(grey,silver);
	background:-moz-linear-gradient(#ffe,#cc2);
	color:gold;
	box-shadow:0px 0px 25px white;
	text-shadow:0px 0px 10px blue;
	cursor:url(5.png),pointer;
}
.exit:hover{cursor:url(19.gif),pointer;}
.help:hover{ cursor:url(13.png),pointer;}
.game{
	background:-webkit-radial-gradient(#ccc,#666);
	background:-moz-radial-gradient(#666,#ccc);
	background:-o-radial-gradient(#ccc,#666);
	background:-ms-radial-gradient(#ccc,#666);
	color:blue;
	padding:17% 20% 20% 30%;
	width: 100%;
	height: 100%;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}
.game .gameText{
	font-size: 3rem;
	color:red;
	font-family: 'DesignerPixels';
}
.main .raj{
	position: relative;
	z-index: 1;
	width:50px;
	height:50px;
	top:48%;
	left:3%;
	background:black;
	cursor:url(3.png),pointer;
}
.main ul li{
	width:10px;
	background:#222;
	height:100%;
	position:relative;
	list-style:none;
}
.main ul{
	float:left;
	margin:0 9% 0 30%;
	height: 100%;
}
.main ul+ul{margin:0 9%;}
.helpPage{		
	font-size: 1.8rem;
	font-weight: bold;
	margin:0 auto;
	padding:5%;
	line-height: 1.5em;
	width:50%;
	text-shadow: 0px 0px 10px #678;
	font-family: 'Comica BD';
}
.helpPage button{
	display:inline;
	margin:2% 6%;
	width:30%;
}
.lives{
	position: absolute;
	left:2%;				
	font-size: 1.5rem;
	color:maroon;
	top:3%;
}
.retry, .menu{
	padding:0;
	color:blue;
	background:yellow;
	border-radius:50px 1%;
	font-size:1.2rem;
	height:50px;
	width:30%;
	margin:2%;
	float:left;
}
.retry:hover,.menu:hover{
	background:silver;
	font-size:140%;
	cursor:url(21.gif),pointer;
}
.disable-dbl-tap-zoom {
    touch-action: manipulation;
}
/*-----media queries-----*/

@media (orientation: portrait) {
	.entrance{
		width: 100%;
	}
	.entrance h1{
		font-size: 5rem;
	}
	button{
		margin: 10%;
		font-size: 3rem;
	}
	.main .raj{
		width: 100px;
		height: 100px;
		box-shadow: -10px -10px 10px;
	}
}
@media (orientation: landscape) and (max-height: 480px) {
	.main .raj{
		width: 70px;
		height: 70px;
		box-shadow: -10px -10px 10px;
	}
	.helpPage{		
		width: 85%;
		font-size: 1.4rem;
	}
	.entrance{
		width: 80%;
	}
	button {
		width: 75%;
		margin: 2%;
	}
	button:hover {
		font-size: 1.3rem;
	}
}